<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0" style="background-image: linear-gradient(45deg, #072b90, #0647a2, #046dbb); background-attachment: fixed;">
    
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" style="width: 3cm;">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Início<span class="sr-only">(current)</span></a>
            </li>

            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Vendas</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="/vendas">Início</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/vendas/empreendimentos">Empreendimentos</a>
                    <a class="dropdown-item" href="/vendas/unidades">Unidades</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/vendas/leads">Leads</a>
                    <a class="dropdown-item" href="#">Clientes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Vendas</a>
                    <a class="dropdown-item" href="#">Marketing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Relatórios</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Comercial</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="/comercial">Início</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/comercial/leads">Leads</a>
                    <a class="dropdown-item" href="/comercial/clientes">Clientes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/comercial/unidades">Unidades</a>
                    <a class="dropdown-item" href="/comercial/empreendimentos">Empreendimentos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/comercial/quadro-espelho">Quadro Espelho</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/comercial/tipos-de-imovel">Tipos de Imóvel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Vendas</a>
                    <a class="dropdown-item" href="#">Marketing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Relatórios</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Financeiro</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <label class="text-center">teste</label>
                    <a class="dropdown-item" href="/financeiro">Início</a>
                    <div class="dropdown-divider"></div>
                    <label>teste</label>
                    <h6 class="dropdown-item disabled">Contas a Pagar</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/comercial/leads">Leads</a>
                    <a class="dropdown-item" href="/comercial/clientes">Clientes</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Suprimentos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="/suprimentos">Início</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Engenharia</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="/engenharia">Início</a>
                </div>
            </li>
            -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Cadastros</a>
                <div class="dropdown-menu" aria-labelledby="dropdown10">
                    <a class="dropdown-item" href="/cadastros/documentos">Documentos</a>
                    <div class="dropdown-divider"></div>     
                    <a class="dropdown-item" href="/cadastros/empresas">Empresas</a>
                    <a class="dropdown-item" href="/cadastros/obras">Obras</a>
                    <a class="dropdown-item" href="/cadastros/unidades">Unidades</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cadastros/clientes">Clientes</a>
                    <a class="dropdown-item" href="/cadastros/credores">Credores</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cadastros/contas-bancarias">Contas Bancárias</a>
                    <a class="dropdown-item" href="/cadastros/bancos">Bancos</a>
                    <a class="dropdown-item" href="">Planos Financeiros</a>
                    <a class="dropdown-item" href="/cadastros/indexadores">Indexadores</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/ajuda">Ajuda<span class="sr-only">(current)</span></a>
            </li>

        </ul>
        
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="/login/logout">Sair</a>
            </li>

        </ul>
    </div>
</nav>