<div class="justify-content-center">
    <table style="width: 100%; max-width: 8cm; text-align: center;" align="center">
        <tr>

            <td style="width: 12%;" class="btn btn-link disabled"><strong>&laquo;</strong></td>
            <td style="width: 12%;" class="btn btn-link"><strong>&lsaquo;</strong></td>

            <td style="width: 19%;">
                <input type="text" style="max-width: 1.4cm; text-align: center;" value="0" disabled>
            </td>

            <td style="width: 14%;">de</td>

            <td style="width: 19%;">
                <input type="text" style="max-width: 1.4cm; text-align: center;" value="0" disabled>
            </td>

            <td style="width: 12%;" class="btn btn-link" onclick="javascript:console.log('proxima');"><strong>&rsaquo;</strong></td>
            <td style="width: 12%;" class="btn btn-link" onclick="javascript:console.log('proxima 2');"><strong>&raquo;</strong></td>

        </tr>
    </table>
</div>

<script>
    
</script>