<footer class="bg-dark text-center text-white" style="background-image: linear-gradient(45deg, #04206b, #04206b); background-attachment: fixed;">
    <!-- Grid container -->
    <div class="container p-1 pb-0" >
      <!-- Section: Social media -->
      <section class="mb-0">

        <!-- Facebook Plena -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Plena-Incorporadora-201716030760511" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Instagram Plena -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/plenaincorporadora/" role="button">
          <i class="fab fa-instagram"></i>
        </a>

        <!-- Website Plena -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://plenaincorporadora.com/novo/" role="button">
          <i class="fas fa-globe"></i>
        </a>
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-1" style="background-image: linear-gradient(45deg, #072b90, #03275a); background-attachment: fixed;">
      © 2022 - Plena Construtora e Incorporadora LTDA
    </div>
    <!-- Copyright -->
</footer>