<%-include('../../../partials/header.ejs');%>

<body>

    <%-include('../../../partials/navbar.ejs');%>

    <br>

    <div class="container ">

        <div class="text-center mb-4"><h3>Novo Banco</h3></div>

        <hr>

        <form>
            <div class="card mb-4">

                <div class="card-header">
                    <div class="mb-0"><h4>Informações Gerais</h4></div>
                </div>

                <div class="card-body">
        
                    <div class="row">

                        <div class="col-md-2 mb-3">
                            <label>Código:</label>
                            <input type="text" class="form-control" id="" placeholder="" value="">
                        </div>
            
                        <div class="col-md-10 mb-3">
                            <label>Nome:</label>
                            <input type="text" class="form-control" id="" placeholder="" value="">
                        </div>
        
                    </div>
                </div>

            </div>

            <input type="submit" class="btn btn-success btn-block" value="Salvar">

            <br>

        </form>
    </div>
</body>

<%-include('../../../partials/footer.ejs');%>