<%-include('partials/header');%>

<body>

    <%-include('partials/navbar');%>

    <br>

    <div class="container text-center" style="max-width: 28cm;">

        <h3>Ajuda</h3>

        <hr>

    </div>
    
</body>

<%-include('partials/footer');%>