<%-include('../../../partials/header.ejs');%>

<body>

    <%-include('../../../partials/navbar.ejs');%>

    <br>

    <div class="container ">

        <div class="text-center mb-4"><h3>Unidades</h3></div>

        <hr>

        <div class="card mb-4">

            <div class="card-header">
                <div class="text-center mb-0"><h4>Consulta</h4></div>
            </div>

            <div class="card-body">
  
                <form>
      
                    <div class="row">

                      <div class="col-md-2 mb-3">
                          <label>ID:</label>
                          <input type="text" class="form-control" id="" placeholder="" value="">
                      </div>
    
                      <div class="col-md-3 mb-3">
                          <label>Unidade:</label>
                          <input type="text" class="form-control" id="" placeholder="Ex. 202" value="">
                      </div>
    
                      <div class="col-md-4 mb-3">
                          <label for="firstName">Empreendimento:</label>
                          <select class="form-control">
                              <option>Todos</option>
                              <option>Plena Mont Blanc</option>
                              <option>Plena Tellure</option>
                          </select>
                      </div>

                      <div class="col-md-3 mb-3">
                          <label for="firstName">Status:</label>
                          <select class="form-control">
                              <option>Todos</option>
                              <option>Disponível</option>
                              <option>Reservado</option>
                              <option>Vendido</option>
                          </select>
                      </div>
    
                    </div>

                    <div style="visibility: hidden">

                    </div>
    
                    <div class="row justify-content-md-end">
                      <div class="col-md-10 mb-1">
                        <input type="submit" class="btn btn-primary form-control" value="PESQUISAR">
                      </div>
                      <div class="col-md-2 mb-0">
                        <a href="/cadastros/unidades/novo" class="btn btn-success form-control">NOVA +</a>
                      </div>
                    </div>

                </form>
                
            </div>
            </div>

            <div class="text-center mb-4"><h5>Resultados de Consulta</h5></div>

            <hr>

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Empreendimento</th>
                            <th scope="col">Unidade</th>
                            <th scope="col">Tipo de imóvel</th>
                            <th scope="col">Status</th>
                            <th scope="col">Contrato</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    
</body>

<%-include('../../../partials/footer.ejs');%>