<%-include('../../partials/header');%>

<body>

    <%-include('../../partials/navbar');%>

    <div class="container text-center" style="max-width: 28cm;">

        <hr>

        <h3>Contas a Receber</h3>

        <hr>

        <h5>Plena Mont Blanc - 04/03/2022</h5>

        <hr>

        <div class="row">

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Hoje:</h5>
                        <hr>
                        <h4 style="color: rgb(6,204,6);">R$ 50.000,00</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Mês:</h5>
                        <hr>
                        <h4>R$ 150.000,00</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5>Total até 31/12/2023:</h5>
                        <hr>
                        <h4>R$ 5.000.000,00</h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Contas a receber por data:</h5>
                        <hr>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="row">

            <div class="col-md-12 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5>Relatórios Detalhados:</h5>
                        <hr>
                        <form class="text-left mb-0">
                            <label>Tipo de Relatório:</label>
                            <select class="form-control mb-3">
                                <option>-</option>
                            </select>
                            <label>Período:</label>
                            <a href="" class="btn btn-success btn-block">Gerar Relatório</a>
                        </form>
                    </div>
                </div>
            </div>
        
        </div>

    </div>

</body>

<%-include('../../partials/footer');%>