<%-include('../../partials/header');%>

<body>

    <%-include('../../partials/navbar');%>

    <div class="container text-center" style="max-width: 28cm;">

        <hr>

        <h3>Balanço</h3>

        <hr>

        <h5>Plena Mont Blanc - 04/03/2022</h5>

        <hr>

        <div class="row">

            <div class="col-md-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5>Total Recebido:</h5>
                        <hr>
                        <h4 style="color: rgb(6,204,6);">R$ 50.000,00</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5>Total Pago:</h5>
                        <hr>
                        <h4 style="color: red;">R$ 150.000,00</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5>Saldo Atual:</h5>
                        <hr>
                        <h4 style="color: red;">- R$ 100.000,00</h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <canvas class="line-chart"></canvas>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="row">

            <div class="col-md-12 mb-3">
                <div class="card ">
                    <div class="card-body">
                        <h5>Relatórios Detalhados:</h5>
                        <hr>
                        <form class="text-left mb-0">
                            <label>Tipo de Relatório:</label>
                            <select class="form-control mb-3">
                                <option>-</option>
                            </select>
                            <label>Período:</label>
                            <a href="" class="btn btn-success btn-block">Gerar Relatório</a>
                        </form>
                    </div>
                </div>
            </div>
        
        </div>

    </div>

    <!-- Gráficos -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>

    <script>

        const labels = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Ago"];
        const dataReceive = [0, 15000, 20000, 30000, 36000, 40000, 50000];
        const dataPay = [20000, 35000, 60000, 85000, 100000, 130000, 150000];

        const dataLine = {
            labels: labels,
            datasets: [{
                label: "Total Recebido",
                data: dataReceive,
                borderWidth: 6,
                borderColor: 'rgba(6,204,6)',
                backgroundColor: 'transparent'
            }, {
                label: "Total Pago",
                data: dataPay,
                borderWidth: 6,
                borderColor: 'rgb(230,0,0)',
                backgroundColor: 'transparent'
            }]
        };

        const dataBar = {
            labels,
            datasets: [{
                label: "Total Recebido",
                data: dataReceive,
                borderWidth: 6,
                borderColor: 'rgb(92, 214, 92)',
                backgroundColor: 'rgb(92, 214, 92)'
            }, {
                label: "Total Pago",
                data: dataPay,
                borderWidth: 6,
                borderColor: 'rgb(255, 77, 77)',
                backgroundColor: 'rgb(255, 77, 77)'
            }]
        };

        const ctx = document.getElementsByClassName('line-chart')
        const chart = new Chart(ctx, {
            type: 'line',
            data: dataLine,
            options: {
                responsive: true
            }
        })
    </script>

</body>

<%-include('../../partials/footer');%>